<main role="main" class="container">
  <div class="row">
    <div class="row-12">
      <input 
        type="button" 
        value="Send Toast" 
        class="btn btn-info"
        onclick="showToast('Mi mensaje')">

      <input 
        type="button" 
        value="Send Message to Server" 
        class="btn btn-danger"
        onclick="messageToServer('Mensaje desde el cliente.')">
    </div>
  </div>
</main>
